@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    outline : none ; 
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

#row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.carre {
    width: 20% ; 
    margin: 5px 5px 0px 0px;
    background-color: #88c1d0;
    height: 150px;
}

@media screen and (min-width: 768px) and (max-width: 1599px){
    .carre {
        width: 40% ;
    }
}

@media screen and (max-width: 767px) {
    .carre {
        width: 80% ;
    }
}

header{
    height : 20vh ;
}

nav{
    background-color: rgba(0, 0, 0, 0.466) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
}

nav .burger {
    display: none;
    color: white;
    padding: 15px;
}

ul li{
    padding: 10px;
}

@media screen and (max-width: 767px){
    nav ul {
        display: none;
    }
    nav .burger {
        display: block;
    }
}