@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500;1,800;1,900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.panier_quantite, .contenu_panier, .section_add_panier div a, .section_add_panier, #section_form_user_modif_profil #lien_mes_commandes a, #section_form_user_modif_profil #div_form_user_modif_profil .form-group, #section_form_user_modif_profil #lien_retour_user a, #section_form_user_modif_profil, #update_one_user_details, #section_principale_all_user, #section_boutton_retour_et_supp #div_boutton_retour_et_supp #lien_retour a, #section_boutton_retour_et_supp #div_boutton_retour_et_supp, #section_boutton_retour_et_supp, #section_modif_image_update_art #conteneur_choix_photo_principale #rafraichir_page_photo a, #section_modif_image_update_art #conteneur_choix_photo_principale form #div_affichage_images, #section_modif_image_update_art #conteneur_choix_photo_principale form, #section_modif_image_update_art #conteneur_choix_photo_principale, #section_modif_image_update_art, .form_changement_details_art, .donnees_specifique_article div, .donnees_specifique_article, #formulaire_update_general_commun #div_ensemble_formulaire, #formulaire_update_general_commun, #section_donnees_generales_communes div, #section_donnees_generales_communes, #section_centrale_update_article .vignette_affichage_recherche_photo, #section_centrale_update_article #affichage_resultat_recherche_admin, #section_centrale_update_article #affichage_tous_articles_recherche_admin, #section_centrale_update_article, #section_centrale_admin_insert_type_article .div_formulaire_insert_par_type_article, #section_centrale_admin_insert_type_article, #section_centrale_admin_insert, #section_centrale_accueil_admin .lien_update_ou_insert a, #section_centrale_accueil_admin, #articles_similaires #photos_articles_similaires, #articles_similaires h1, #articles_similaires, #conteneur_principal_article #reste_du_cntenu_article #ajouter_au_panier a, #conteneur_principal_article .image_article_en_petite, #conteneur_principal_article #conteneur_image_article #conteneur_image_suivantes_article, #conteneur_principal_article, .galerie_article .vignette_article, .galerie_article, #section_tri_des_articles_marques_prix, .details_par_type_article_filtre, #section_centrale_tous_les_articles, .section_presentation_generale_articles .conteneur_presentation_generale_articles, .section_presentation_generale_articles, #recherche_user #conteneur_resultat_recherche, #recherche_user, .section_formulaire_inscription .conteneur_form_inscription #validation_connexion, .section_formulaire_inscription .conteneur_form_inscription #validation_inscription, .section_formulaire_inscription .conteneur_form_inscription .form-group, .section_formulaire_inscription, .user_connecte div, .user_connecte, #footer #conteneur_footer #conteneur_footer_infos .footer_infos, #footer #conteneur_footer #conteneur_footer_infos, #footer #conteneur_footer #accueil_newletter, #footer #conteneur_footer #conteneur_logos .logo_et_mini_slogan, #footer #conteneur_footer #conteneur_logos, #footer #conteneur_footer, #footer, .section_accueil #affichage_pub, .section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo #affichage_promotion #stock_restant, .section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo #affichage_promotion #poucentage, .section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo #affichage_promotion, .section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo a, .section_accueil #titre_et_affichage_articles #div_article_avant, .section_accueil #titre_et_affichage_articles, .section_accueil, .nav .liste_nav, .nav, .menu_depliant div a, header .search_bar .border .form_recherche, header .search_bar .border, header .search_bar, header .accueil, header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 1000;
  height: 120px;
  background-color: #0C0E0D;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  padding: 0px 20px 0px 20px;
  font-size: 1rem;
}
header .logo a {
  display: flex;
  height: 70%;
  width: 260px;
}
header .accueil {
  width: 800px;
  height: 100%;
  justify-content: space-around;
  z-index: 1000;
}
header .accueil a {
  text-decoration: none;
  color: white;
  margin: 30px;
  text-align: center;
}
header .accueil p {
  color: white;
}
header .search_bar .border {
  border: 2px white solid;
  border-radius: 2em;
  padding: 3px;
  width: 210px;
  display: flex;
}
header .search_bar input {
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  color: white;
  width: 80%;
}
header .search_bar input::placeholder {
  color: rgba(255, 255, 255, 0.596);
  padding: 10px;
  font-size: 1;
}
header .search_bar button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 20%;
}
header .burger {
  display: none;
}
header .burger i {
  color: white;
}
header .menu-burger {
  display: none;
}
header .panier p {
  color: white;
}

.menu_depliant {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 100000px) {
  .menu_depliant {
    display: none !important;
  }
}
.menu_depliant div {
  height: 150px;
  background-color: black;
}
.menu_depliant div a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #e4e4e4;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.nav {
  z-index: 1000;
  background-color: #1a1f1cf1;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  font-size: 0.8rem;
  position: sticky;
  top: 0;
}
.nav .liste_nav {
  width: 800px;
  justify-content: space-around;
}
.nav .liste_nav .compteur_panier {
  color: white;
  padding: 5px;
}
.nav a {
  text-decoration: none;
  color: floralwhite;
  transition: 0.5s;
}
.nav a:hover {
  color: #00BAFF;
}

/* On test une nav responsive */
@media only screen and (max-width: 1024px) {
  header {
    font-size: 0.7em;
  }
  header .logo a {
    display: flex;
    height: 40%;
    width: 130px;
  }
  header .accueil {
    width: 425px;
  }
  header .search_bar .border {
    width: 130px;
  }

  .footer_infos {
    width: 90% !important;
    margin: 20px auto;
    font-size: 15px;
  }

  .conteneur_presentation_generale_articles {
    flex-direction: column;
  }
  .conteneur_presentation_generale_articles img {
    display: block;
  }

  #conteneur_footer_infos {
    width: 100% !important;
    flex-wrap: wrap !important;
  }

  .contenu_panier div {
    width: 20% !important;
    font-size: 12px;
  }

  .panier_total p {
    font-size: 20px !important;
  }

  input[value="Valider le panier"] {
    font-size: 15px !important;
  }

  #conteneur_principal_article {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width : 768px) {
  header {
    display: flex;
    align-items: center;
  }
  header .accueil {
    display: none;
  }
  header .search_bar {
    display: none;
  }
  header .burger {
    display: block;
  }
  header .burger:hover {
    background-color: #2c2b2b;
    color: black;
  }
  header .menu-burger {
    display: none;
  }
}
#slider {
  width: 100%;
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 30s slidy infinite;
}
#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.section_accueil {
  width: 100%;
  background-color: white;
}
.section_accueil #titre_et_affichage_articles {
  flex-direction: column;
  width: 80%;
}
.section_accueil #titre_et_affichage_articles h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  margin-top: 50px;
}
.section_accueil #titre_et_affichage_articles h1 span {
  font-style: italic;
  font-weight: lighter;
}
.section_accueil #titre_et_affichage_articles #div_article_avant {
  flex-wrap: wrap;
}
.section_accueil #titre_et_affichage_articles #div_article_avant div {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo a {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 350px;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  box-shadow: 0px 0px 10px #c7c7c7;
  padding: 15px;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo img {
  width: 250px;
  margin-bottom: 20px;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo a h2 {
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
  width: 100%;
  height: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo a #courte_description {
  width: 100%;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.85rem;
  padding: 2px;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo a #prix_mise_en_avant {
  width: 100%;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  padding: 2px;
  font-weight: bold;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo #affichage_promotion {
  background-color: #0084ff;
  transform: skewX(-0.03turn);
  font-size: 1rem;
  width: 90%;
  color: white;
  position: relative;
  top: 20px;
  left: -20px;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo #affichage_promotion #poucentage {
  background-color: #ff8800;
  display: block;
  width: 20%;
  height: 100%;
  padding-left: 3px;
  padding-top: 2px;
}
.section_accueil #titre_et_affichage_articles #div_article_avant #conteneur_lien_promo #affichage_promotion #stock_restant {
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 80%;
  height: 100%;
  padding-top: 2px;
}
.section_accueil #affichage_pub {
  width: 80%;
}
.section_accueil #affichage_pub a {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.section_accueil #affichage_pub a img {
  height: auto;
  width: 600px;
}
.section_accueil #affichage_presentation {
  width: 80%;
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 80px;
  margin-bottom: 180px;
}

#footer {
  flex-direction: column;
  flex-direction: column;
  margin-top: 20vh;
}
#footer > img {
  width: 100%;
}
#footer #conteneur_footer {
  z-index: 900;
  padding-top: 100px;
  flex-direction: column;
  background-color: #00BED5;
  flex-direction: column;
  width: 100%;
  transform: skewY(-0.02turn);
}
#footer #conteneur_footer > * {
  transform: skewY(0.02turn);
}
#footer #conteneur_footer #conteneur_logos {
  transform: skewY(0.02turn);
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
}
#footer #conteneur_footer #conteneur_logos .logo_et_mini_slogan {
  flex-direction: column;
  justify-content: center;
  width: 150px;
}
#footer #conteneur_footer #conteneur_logos img {
  height: 100px;
}
#footer #conteneur_footer #conteneur_logos p {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
#footer #conteneur_footer #accueil_newletter {
  justify-content: space-around;
  margin-top: 100px;
  background-color: black;
  width: 1200px;
  height: 120px;
  color: white;
  transform: skewX(-0.06turn) skewY(0.02turn);
}
#footer #conteneur_footer #accueil_newletter div {
  transform: skewX(0.06turn);
}
#footer #conteneur_footer #accueil_newletter p {
  transform: skewX(0.06turn);
}
#footer #conteneur_footer #accueil_newletter #input_newletter {
  position: relative;
}
#footer #conteneur_footer #accueil_newletter #input_newletter input {
  width: 300px;
  height: 40px;
}
#footer #conteneur_footer #accueil_newletter #input_newletter button {
  position: absolute;
  /*important*/
  background-color: transparent;
  top: 6px;
  border: none;
  color: black;
  /*Tu peux changer ici*/
  left: 245px;
  font-size: 21px;
  /*Tu peux changer ici*/
  width: 50px;
}
#footer #conteneur_footer #conteneur_footer_infos {
  justify-content: space-between;
  align-items: flex-start;
  width: 1000px;
  margin-top: 180px;
  margin-bottom: 30px;
}
#footer #conteneur_footer #conteneur_footer_infos .footer_infos {
  width: 300px;
  background-color: #00BED5;
  flex-direction: column;
  color: white;
}
#footer #conteneur_footer #conteneur_footer_infos .footer_infos a {
  margin-top: 30px;
  text-decoration: none;
  color: white;
}
#footer #conteneur_footer #conteneur_footer_infos .footer_infos p {
  margin-top: 30px;
}
#footer #conteneur_footer #conteneur_footer_infos .footer_infos h2 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

#cache_espace_blanc {
  width: 99.2vw;
  height: 350px;
  background-color: #00BED5;
  position: relative;
  top: -180px;
  z-index: 10;
  margin-bottom: -180px;
}

.user_connecte {
  width: 100vw;
  height: 80vh;
}
.user_connecte div {
  flex-direction: column;
  justify-content: space-around;
  background-color: #e7e7e7;
  width: 300px;
  height: 200px;
}
.user_connecte div p {
  margin-top: 20px;
  font-size: 1.2rem;
}
.user_connecte button {
  margin-bottom: 20px;
}

.section_formulaire_inscription {
  align-items: flex-start;
  height: 130vh;
}
.section_formulaire_inscription .conteneur_form_inscription {
  margin-top: 25vh;
  margin-bottom: 100px;
  width: 500px;
  border: solid 1px grey;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fafafa;
}
.section_formulaire_inscription .conteneur_form_inscription .form-group {
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.section_formulaire_inscription .conteneur_form_inscription #mess_erreur_inscription {
  color: red;
}
.section_formulaire_inscription .conteneur_form_inscription .form-group .input_form_inscription {
  height: 35px;
  width: 100%;
}
.section_formulaire_inscription .conteneur_form_inscription #validation_inscription {
  height: 35px;
  width: 100%;
}
.section_formulaire_inscription .conteneur_form_inscription #validation_inscription input {
  height: 30px;
}
.section_formulaire_inscription .conteneur_form_inscription #validation_connexion {
  height: 35px;
  width: 100%;
}
.section_formulaire_inscription .conteneur_form_inscription #validation_connexion input {
  height: 30px;
}
.section_formulaire_inscription .conteneur_form_inscription #validation_inscription input {
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  border: none;
  color: white;
}
.section_formulaire_inscription .conteneur_form_inscription #validation_connexion input {
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  border: none;
  color: white;
}
.section_formulaire_inscription .conteneur_form_inscription #erreur_connect {
  color: red;
}

#recherche_user {
  width: 100vw;
  min-height: 100vh;
}
#recherche_user #conteneur_resultat_recherche {
  margin-top: 10vh;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 50vh;
}
#recherche_user #conteneur_resultat_recherche #vignette_resultat_recherche {
  width: 200px;
  height: 300px;
  box-shadow: 0px 0px 10px #c7c7c7;
  padding: 5px;
  margin-left: 30px;
}
#recherche_user #conteneur_resultat_recherche #vignette_resultat_recherche a {
  text-decoration: none;
  color: black;
}

.section_presentation_generale_articles {
  width: 100vw;
}
.section_presentation_generale_articles .conteneur_presentation_generale_articles {
  align-items: flex-start;
  width: 50vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 5vh;
  border-bottom: 1px solid grey;
}
.section_presentation_generale_articles .conteneur_presentation_generale_articles img {
  height: 150px;
  margin: 10px;
  margin-right: 20px;
}
.section_presentation_generale_articles .conteneur_presentation_generale_articles h1 {
  font-size: 2rem;
  font-weight: bold;
}
.section_presentation_generale_articles .conteneur_presentation_generale_articles p {
  text-align: justify;
  font-size: 0.9rem;
}

#section_centrale_tous_les_articles {
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

#section_tri_des_articles_marques_prix, .details_par_type_article_filtre {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
}

#section_tri_des_articles_marques_prix {
  justify-content: space-around;
}

.galerie_article {
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 2vh;
  min-height: 100vh;
}
.galerie_article .vignette_article {
  margin-left: 30px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 250px;
  height: 350px;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  box-shadow: 0px 0px 10px #c7c7c7;
}
.galerie_article .vignette_article h1 {
  font-weight: bold;
  font-size: 1rem;
}
.galerie_article .vignette_article #courte_descr_aff_article {
  font-size: 0.8rem;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

#conteneur_principal_article #conteneur_image_article {
  overflow: hidden;
  margin-top: 10vh;
}
#conteneur_principal_article #conteneur_image_article #image_principale_page_article {
  width: auto;
  height: 500px;
  border: 1px solid gray;
  padding: 5px;
}
#conteneur_principal_article #conteneur_image_article #conteneur_image_suivantes_article {
  overflow: hidden;
}
#conteneur_principal_article .image_article_en_petite {
  margin: 5px;
  width: 100px !important;
  height: 100px !important;
  border: 1px solid gray;
}
#conteneur_principal_article #reste_du_cntenu_article {
  margin: 20px;
  margin-left: 50px;
  padding: 10px;
  font-size: 0.8rem;
  width: 40%;
}
#conteneur_principal_article #reste_du_cntenu_article .dp_none {
  display: none;
}
#conteneur_principal_article #reste_du_cntenu_article p {
  margin: 10px;
}
#conteneur_principal_article #reste_du_cntenu_article #prix_de_article {
  font-size: 1.1rem;
  font-weight: bold;
}
#conteneur_principal_article #reste_du_cntenu_article #lien_vers_marque {
  margin-left: 10px;
  text-decoration: none;
  color: green;
  font-size: 1.1rem;
  font-weight: bold;
}
#conteneur_principal_article #reste_du_cntenu_article #ajouter_au_panier {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  width: 150px;
  height: 40px;
}
#conteneur_principal_article #reste_du_cntenu_article #ajouter_au_panier a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

#articles_similaires {
  margin-top: 100px;
  flex-direction: column;
}
#articles_similaires h1 {
  background-color: #e7e7e7;
  width: 50%;
  height: 40px;
  justify-content: flex-start;
  padding-left: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  transform: skewX(-0.05turn);
}
#articles_similaires #photos_articles_similaires {
  margin-top: 5vh;
  margin-bottom: 10vh;
}
#articles_similaires #photos_articles_similaires img {
  height: 200px;
}
#articles_similaires #photos_articles_similaires div .conteneur_images_art_siilaire {
  border: 1px solid grey;
  margin: 20px;
  padding: 10px;
}

#section_centrale_accueil_admin {
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  margin-bottom: 10vh;
}
#section_centrale_accueil_admin .lien_update_ou_insert {
  height: 80px;
  width: 350px;
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  margin: 40px;
}
#section_centrale_accueil_admin .lien_update_ou_insert a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

#section_centrale_admin_insert {
  justify-content: flex-start;
  width: 100vw;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#section_centrale_admin_insert h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
}
#section_centrale_admin_insert #formulaire_choix_ajout_type_article {
  width: 400px;
}
#section_centrale_admin_insert #formulaire_choix_ajout_type_article .boutton_submit_choix_typre_article_insert {
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  margin-top: 20px;
}

#section_centrale_admin_insert_type_article {
  justify-content: flex-start;
  width: 100vw;
  flex-direction: column;
  padding-bottom: 10vh;
  min-height: 60vh;
}
#section_centrale_admin_insert_type_article form {
  width: 400px;
}
#section_centrale_admin_insert_type_article .div_formulaire_insert_par_type_article {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5px;
}
#section_centrale_admin_insert_type_article .div_formulaire_insert_par_type_article label {
  font-size: 0.7rem;
}
#section_centrale_admin_insert_type_article .div_formulaire_insert_par_type_article input {
  width: 100%;
}
#section_centrale_admin_insert_type_article .boutton_submit_choix_typre_article_insert {
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  margin-top: 20px;
}

#section_centrale_update_article {
  width: 100vw;
  flex-direction: column;
  padding-bottom: 10vh;
  min-height: 60vh;
  padding-top: 50px;
  margin-bottom: 5vh;
}
#section_centrale_update_article #modif_categorie_marques_etc {
  margin-top: 50px;
  margin-bottom: 50px;
}
#section_centrale_update_article select {
  width: 220px;
}
#section_centrale_update_article #affichage_resultat_recherche_admin, #section_centrale_update_article #affichage_tous_articles_recherche_admin {
  width: 80vw;
  flex-wrap: wrap;
}
#section_centrale_update_article .vignette_affichage_recherche_photo {
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 260px;
  margin-right: 20px;
  border: 1px solid gray;
  margin-bottom: 50px;
  font-size: 0.8rem;
}

#section_donnees_generales_communes div {
  border: 1px solid gray;
  margin: 20px;
  flex-direction: column;
  padding: 10px;
  width: 70vw;
}
#section_donnees_generales_communes div #affichage_donnees_generales {
  align-items: flex-start;
  padding: 10px;
  border: none;
}
#section_donnees_generales_communes div #affichage_donnees_generales h1 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

#formulaire_update_general_commun #div_ensemble_formulaire {
  align-items: flex-start;
  border: 1px solid gray !important;
  margin: 20px;
  margin-bottom: 20vh;
  flex-direction: column;
  padding: 10px;
  width: 70vw;
  border: none;
}
#formulaire_update_general_commun #div_ensemble_formulaire h1 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.donnees_specifique_article div {
  border: 1px solid gray;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 70vw;
}
.donnees_specifique_article div h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.form_changement_details_art {
  display: inline-block !important;
  flex-direction: row;
  margin: 0 !important;
}

#section_modif_image_update_art {
  flex-direction: column;
}
#section_modif_image_update_art #conteneur_choix_photo_principale {
  border: 1px solid gray;
  margin-top: 20px;
  padding: 8px;
  width: 70vw;
  flex-wrap: wrap;
}
#section_modif_image_update_art #conteneur_choix_photo_principale form {
  flex-wrap: wrap;
}
#section_modif_image_update_art #conteneur_choix_photo_principale form #div_affichage_images {
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  justify-content: flex-start;
  width: 180px;
  height: 280px;
  margin: 10px;
  border: 1px solid gray;
}
#section_modif_image_update_art #conteneur_choix_photo_principale #rafraichir_page_photo {
  width: 180px;
  height: 30px;
  margin: 10px;
}
#section_modif_image_update_art #conteneur_choix_photo_principale #rafraichir_page_photo a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
}
#section_modif_image_update_art #form_ajouter_nouvelles_images {
  margin: 10px;
}

#section_boutton_retour_et_supp {
  height: 20vh;
}
#section_boutton_retour_et_supp #div_boutton_retour_et_supp {
  flex-direction: column;
}
#section_boutton_retour_et_supp #div_boutton_retour_et_supp #lien_retour {
  height: 40px;
  width: 100px;
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  margin-bottom: 30px;
  margin-top: 30px;
}
#section_boutton_retour_et_supp #div_boutton_retour_et_supp #lien_retour a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: honeydew;
}
#section_boutton_retour_et_supp #div_boutton_retour_et_supp button {
  background-color: red;
  margin-top: 30px;
  border: none;
  height: 30px;
  color: white;
}
#section_boutton_retour_et_supp #div_boutton_retour_et_supp button:hover {
  cursor: pointer;
}

#section_principale_all_user #div_all_user {
  width: 50%;
  margin-top: 5vh;
}
#section_principale_all_user #div_all_user #affichage_recap_user {
  border: 1px solid grey;
  padding: 10px;
}

#update_one_user_details #update_one_user_details {
  margin-top: 10vh;
  margin-bottom: 30vh;
  width: 50vw;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid grey;
  padding: 10px;
}

#section_form_user_modif_profil {
  flex-direction: column;
}
#section_form_user_modif_profil #lien_retour_user {
  height: 40px;
  width: 100px;
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  margin-bottom: 30px;
  margin-top: 30px;
}
#section_form_user_modif_profil #lien_retour_user a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: honeydew;
}
#section_form_user_modif_profil #div_form_user_modif_profil {
  width: 40vw;
  height: 60%;
  margin-bottom: 20vh;
}
#section_form_user_modif_profil #div_form_user_modif_profil .form-group {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
#section_form_user_modif_profil #div_form_user_modif_profil .form-group input {
  width: 100%;
  height: 30px;
}
#section_form_user_modif_profil #div_form_user_modif_profil .submit_user_profil {
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  color: white;
  border: none;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#section_form_user_modif_profil #lien_mes_commandes {
  height: 40px;
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  margin-bottom: 30px;
  margin-top: 30px;
}
#section_form_user_modif_profil #lien_mes_commandes a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: honeydew;
}
#section_form_user_modif_profil .span_erreur_user {
  color: red;
}

.section_add_panier {
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.section_add_panier h1 {
  font-size: 2rem;
}
.section_add_panier div {
  height: 40px;
  width: 200px;
  background-color: #00BED5;
  margin-top: 10px;
}
.section_add_panier div a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  color: white;
}

.contenu_panier {
  border: solid black 1px;
}
.contenu_panier div {
  padding: 10px;
  width: 13%;
  display: flex;
  justify-content: center;
}
.contenu_panier a {
  color: black;
}
.contenu_panier .panier_img img {
  width: 100%;
}

.panier_quantite a {
  display: block;
  padding: 5px;
}
.panier_quantite p {
  padding: 10px;
}

input[name=validation_panier] {
  background: linear-gradient(0.1turn, #6BE100, #00BDCC);
  outline: none;
  border: none;
  font-size: 1vw;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.panier_total {
  margin: 10px 10px;
}
.panier_total p {
  font-weight: 600;
  font-size: 1.5vw;
}

.panier_vide {
  text-align: center;
  font-size: 20px;
  width: 95%;
  margin: 20px auto;
}
.panier_vide a {
  text-decoration: none;
  color: #6BE100;
}

#paiement {
  display: flex;
}
#paiement > div {
  width: 50%;
  background-color: #f1efef;
  padding: 5px;
  font-size: 1.4vw;
}
#paiement h1 {
  font-weight: 600;
  font-size: 1.7vw;
  text-transform: uppercase;
}
#paiement #recap_paiement > div {
  background-color: white;
  width: 70%;
  margin: 10px auto;
  padding: 20px;
}
#paiement .recap_produit img {
  height: 100px;
  width: 100px;
}
#paiement #recap_commande > div {
  background-color: white;
  width: 70%;
  margin: 10px auto;
  padding: 20px;
}
#paiement #recap_commande a {
  color: #6BE100;
  text-decoration: none;
}

@media only screen and (max-width : 768px) {
  #paiement {
    flex-wrap: wrap;
  }
  #paiement > div {
    width: 100%;
    font-size: 2vw;
  }
  #paiement #recap_paiement {
    order: 2;
  }
  #paiement h1 {
    font-size: 3vw;
  }

  #footer #conteneur_footer #conteneur_logos {
    display: none !important;
  }
  #footer #conteneur_footer #accueil_newletter {
    width: 80% !important;
    margin: 100px auto;
  }
  #footer #conteneur_footer #accueil_newletter p {
    font-size: 10px;
    width: 80% !important;
    padding: 10px !important;
    margin: auto;
    text-align: center;
  }
  #footer #conteneur_footer #accueil_newletter #input_newletter {
    display: flex;
    justify-content: center;
    width: 80% !important;
    margin: 10px auto !important;
  }
  #footer #conteneur_footer #accueil_newletter #input_newletter::placeholder {
    font-size: 8px;
  }
  #footer #conteneur_footer #conteneur_footer_infos {
    width: 100%;
  }

  #titre_et_affichage_articles h1 {
    font-size: 15px;
  }

  .conteneur_presentation_generale_articles {
    flex-direction: column;
  }
  .conteneur_presentation_generale_articles img {
    display: block;
  }

  #reste_du_cntenu_article {
    width: 80% !important;
  }

  #photos_articles_similaires {
    flex-wrap: wrap;
  }
}
.redirection_achat {
  text-align: center;
  font-size: 25px;
  width: 80%;
  margin: 30px auto;
  margin-top: 10vh;
  margin-bottom: 50vh;
  color: #6BE100;
}

.commande {
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  width: 50%;
  margin-left: 25vw;
}
.commande p {
  padding: 5px;
}
.commande .num_commande {
  color: #00BAFF;
}

@media screen and (max-width: 1220px) {
  #accueil_newletter {
    width: 800px !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
